In [1]:
import pandas as pd
import numpy

In [3]:
vsetko = pd.read_csv("data/opravene_spojene.csv")

In [4]:
vsetko.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Unnamed: 0</th>
      <th>name</th>
      <th>address</th>
      <th>FTI measured</th>
      <th>education</th>
      <th>lithium</th>
      <th>TT4</th>
      <th>T4U</th>
      <th>capital-loss</th>
      <th>capital-gain</th>
      <th>...</th>
      <th>query hyperthyroid</th>
      <th>TT4 measured</th>
      <th>on antithyroid medication</th>
      <th>FTI</th>
      <th>sick</th>
      <th>T4U measured</th>
      <th>psych</th>
      <th>query hypothyroid</th>
      <th>age</th>
      <th>sex</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>Aaron Johansen</td>
      <td>3642 Melissa Crest\nNew Alicia, KS 60976</td>
      <td>True</td>
      <td>HS-grad</td>
      <td>False</td>
      <td>67.0</td>
      <td>0.93</td>
      <td>2001.0</td>
      <td>0.0</td>
      <td>...</td>
      <td>False</td>
      <td>True</td>
      <td>False</td>
      <td>72.0</td>
      <td>False</td>
      <td>True</td>
      <td>False</td>
      <td>False</td>
      <td>1.3</td>
      <td>M</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>Abigail Martinez</td>
      <td>5009 Lynch Highway\nSharonmouth, KS 23172</td>
      <td>True</td>
      <td>HS-grad</td>
      <td>False</td>
      <td>103.0</td>
      <td>1.05</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>...</td>
      <td>False</td>
      <td>True</td>
      <td>False</td>
      <td>98.0</td>
      <td>False</td>
      <td>True</td>
      <td>False</td>
      <td>False</td>
      <td>34.0</td>
      <td>F</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2</td>
      <td>Abraham Bruce</td>
      <td>49824 Kim View\nWest Ericborough, VT 42457</td>
      <td>True</td>
      <td>Some_college</td>
      <td>False</td>
      <td>91.0</td>
      <td>0.80</td>
      <td>0.0</td>
      <td>3908.0</td>
      <td>...</td>
      <td>False</td>
      <td>True</td>
      <td>False</td>
      <td>113.0</td>
      <td>False</td>
      <td>True</td>
      <td>False</td>
      <td>False</td>
      <td>73.0</td>
      <td>M</td>
    </tr>
    <tr>
      <th>3</th>
      <td>3</td>
      <td>Abraham Hicks</td>
      <td>Unit 3701 Box 5448\nDPO AP 04047</td>
      <td>True</td>
      <td>Prof-school</td>
      <td>False</td>
      <td>71.0</td>
      <td>1.00</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>...</td>
      <td>False</td>
      <td>True</td>
      <td>False</td>
      <td>71.0</td>
      <td>False</td>
      <td>True</td>
      <td>False</td>
      <td>False</td>
      <td>55.0</td>
      <td>M</td>
    </tr>
    <tr>
      <th>4</th>
      <td>4</td>
      <td>Ada Jeffries</td>
      <td>Unit 8721 Box 6441\nDPO AP 00654</td>
      <td>True</td>
      <td>Some_college</td>
      <td>False</td>
      <td>112.0</td>
      <td>0.99</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>...</td>
      <td>False</td>
      <td>True</td>
      <td>False</td>
      <td>113.0</td>
      <td>False</td>
      <td>True</td>
      <td>False</td>
      <td>False</td>
      <td>80.0</td>
      <td>F</td>
    </tr>
  </tbody>
</table>
<p>5 rows × 44 columns</p>
</div>